body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    min-width: 950px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

/*header part*/
nav {
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: flex-end;
    height: 40px;
    background-color: black;
    box-shadow: 0 2px #9e9c9c
}

nav p {
    position: absolute;
    font-weight: 900;
    font-size: 24px;
    margin-top: 2px;
    left: 10px;
    color: #fff;
}

nav a {
    text-decoration: none;
    color: #fff;
    padding: 10px 24px;
}

nav a:hover {
    font-size: 18;
    text-shadow: gray 2px 1px;
}

.search {
    display: flex;
    justify-content: end;
    margin: 2px 0;
}


.search .input {
    position: relative;
    right: 0;
    border: 0;
    width: 20px;
    transition: 0.3s ease;
} 

.input:focus {
    outline: none;
}

.search .btn {
    position: absolute;
    border: 0;
    height: 36px;
    cursor: pointer;
    transition: 0.3s ease;
}

.search.active .input {
    width: 200px;
}

/*main part*/
.container {
    display: flex;
    margin-top: 5px;
}


.container img {
    width: 100%;
    height: 100%;
}

.panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    flex: 0.5;
    padding: 0;
    position: relative;
    transition: flex 0.7s ease-in;
}

.panel h3 {
    font-size: 36px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
}

.panel.active {
    flex: 1;
}

.panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

.introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    padding: 20px;
    text-align: center;
}

.introduction p {
    font-size: 24px;
    padding: auto;
    line-height: 34px;
}

.introduction_picture {
    flex: 1.5;
    height: 450px;
}

/*footer part*/
footer {
    display: flex;
    flex-direction: row-reverse;
    background-color: rgb(245, 245, 250);
}

.contact a:hover {
    color: #4395ff;
}

footer span {
    font-weight: bold;
    margin: 50px 50px;
}

.contact {
    padding: 10px 20px;
    text-align: center;
}
